*{
    padding: 0%;
    margin: 0%;
}
.search{
    display: flex;
    align-items: baseline;
    width: fit-content;
    background-color: rgba(100, 191, 252, 0.596);
    margin-left: 4%;
    margin-top: 2%;
    padding: 10px;
}
.yoy{
    display: block;
    color: aliceblue;
}
.yo{
    display: block;
 background-color: unset;
    border: none;
    margin-left: 10%;
}
.people{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px;
}
.pop{

    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.stuf{
    margin-left: 11%;
    font-size: 20px;
    width: 100%;
}
.jo{
    font-size: 17px;
    margin-left: 11%;
}
.dad{
    background-color: rgb(0, 29, 192);
}
.dude{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 255);
    border: 1px solid black;
    padding: 30px;
}
.one{
    border-radius: 20px;
    background-color: rgba(0, 64, 241, 0.911);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid blue;
    width: fit-content;
    padding: 18px;
}
.t{
    font-size: 15px;
    align-self: flex-end;
}
.ones{
    border-radius: 20px;
    background-color: rgba(181, 182, 184, 0.911);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid  rgba(181, 182, 184, 0.911);
    width: fit-content;
    padding: 18px; 
}
.chatR{
    display: flex;
    align-self: flex-end;
}
.chatL{
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    
}
.replys{
    width: 74%;
    background-color: rgb(236, 236, 236);
    border: 1px solid rgb(182, 182, 182);
    padding: 20px;
    position: absolute;
    bottom: 0%;
}
.rp{
   width: 98%;
   padding: 20px;
  font-size: 15px;
}

.chat_container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}
.hot{
    display: flex;
    flex-direction: column;
}
.tog{
    display: flex;
}
.chatnames{
    width: 30%;
    height: 100vh;
}
.bomb{
    width: 100%;
}