*{
    padding: 0%;
    margin: 0%;
}
.search{
    display: flex;
    align-items: baseline;
    width:90% ;
    background-color: rgba(53, 53, 53, 0.596);
  border-radius: 20px;
    margin-top: 4%;
    padding: 10px;
}
.yoy{
    display: block;
    color: aliceblue;
}
.yo{
    display: block;
 background-color: unset;
    border: none;
    margin-left: 10%;
}
.people{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px;
}
.pop{

    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.stuf{
    margin-left: 1%;
    font-size: 30px;
    width: 100%;
    font-weight: 700;
}
.jo{
    font-size: 17px;
    margin-left: 11%;
}
.dad{
    border: 1px gray;
    background-color: rgb(0, 22, 19);
    margin-left: 5%;
    margin-top: 5%;
}
.dude{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 255);
   
    padding: 30px;
}
.one{
    border-radius: 20px;
    background-color: rgb(0, 139, 7);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: rgb(0, 139, 7);
    width: fit-content;
    padding: 18px;
}
.t{
    font-size: 15px;
    align-self: flex-end;
}
.ones{
    border-radius: 20px;
    background-color: rgba(181, 182, 184, 0.911);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid  rgba(181, 182, 184, 0.911);
    width: fit-content;
    padding: 18px; 
}
.chatR{
    
    display: flex;
    align-self: flex-end;
}
.chatL{
    border-color: rgb(0, 133, 0);
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    
}
.replys{
    width: 73%;
    background-color: rgb(236, 236, 236);
    border: 1px solid rgb(182, 182, 182);
    padding: 20px;
    position: absolute;
    bottom: 0%;
    display: flex;
    justify-content: space-between;
    margin-left: 25%;
}
.rp{
   width: 90%;
   padding: 20px;
  font-size: 15px;
  display: block;
}

.chat_container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}
.hot{
    display: flex;
    flex-direction: column;
}
.tog{
    display: flex;
}
.chatnames{
    width: 30%;
    height: 100vh;
}
.bomb{
    width: 100%;
}
.bl{
     border: 1px solid black;
     display: flex;
     justify-content: space-between;
     justify-items: baseline;
}
a{
    text-decoration: none;
    color: inherit;
}
.fs{
    margin-top: 30px;
    margin-right: 30px;
}
.az{
    margin-top: 10px;
    font-size: 30px;
    color: black;
}
.ech{
    visibility: hidden;
}
body{
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgb(0, 24, 19);
    color: white;
}
.wda{

    margin-top: 10px;
}

.saqz{
    display: flex;
    margin-left: 50%;
}
.wdasz{
    margin-left: 20px;
     margin-top: 10px;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.da{
    display: flex;
}
@media  (320px <= width <= 480px){

    .dad{
        display:none;
    }
    .replys{
    width: 100%;
    background-color: rgb(236, 236, 236);
    border: 1px solid rgb(182, 182, 182);
    padding: 20px;
    position: absolute;
    bottom: 0%;
    display: flex;
    justify-content: space-between;
    
}
}