*{
    padding: 0%;
    margin: 0%;
    
}
.all{
    display: flex;
}
a{
    color: inherit;
    text-decoration: none;
}
body{

    width: 100%;

}
.login{
    background-color: white;
    width: 34%;
    margin-top: 10%;
margin-left: 35%;
  border-radius: 20px;
}
.ll{
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid rgba(172, 172, 172, 0.329);
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 25px;
    padding-bottom: 17px;
}
.name{
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.384);
    display: block;
    width: 85%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    margin-left: 6%;
    padding: 2%;
margin-top: 5%;
}
.FP{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(161, 161, 161);
    margin-top: 6%;
    margin-left: 6%;
}
.logb{
    cursor: pointer;
    margin-top: 11%;
    border: 1px solid black;
    border-radius: 30px;
    background-color: rgb(241, 241, 241);
    padding: 3%;
    margin-left: 10%;
margin-right: 10%;
    text-align: center;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
    
}
.nam{
    margin-top: 9%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 7%;
}
.dia{
    display: grid;
    grid-template-columns: auto auto auto;
}
.xa{
     display: grid;
    grid-template-columns: auto auto auto;
}


.bg{
    background-color: white;
}

.imgs{
    margin-top: 3%;
    margin-left: 9%;
    display: flex;
    align-items: center;
}
.img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.friends{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-left: 1%;
}
.fri{
    color: rgb(165, 165, 165);
    font-size: 15px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.daz{
    display: flex;
}
.box{
    margin-left: 20px;
}
.shi{
    display: flex;
    margin-top: 60px;
     width: 30%;
     margin-left: 30%;
     justify-content: space-between;
}
.shis{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(53, 53, 53);
    padding-left: 40px;
   
}

.hop{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(99, 99, 99);
    padding-left: 40px;
    font-size: 30px;
    margin-left: 10%;
}
.pop{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(99, 99, 99);
    padding-left: 40px;
}
.jojo{
    display: flex;
      width: 30%;
     margin-left: 35%;
     justify-content: space-between;
}
.header{
    display: flex;
}